<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnglishWordSet.SettingsFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EnglishWordSet.SettingsFile>
            <setting name="UnsplashAPIKey" serializeAs="String">
                <value>zbUIVrp4QpDLHjJjhV4gSE1lAniC20DXwQsDkMa68Ws</value>
            </setting>
            <setting name="GoogleTranslateAPIKey" serializeAs="String">
                <value>AIzaSyBTL7y3H--lfRrgzfFVsIPYjXs7f7TdkyU</value>
            </setting>
        </EnglishWordSet.SettingsFile>
    </applicationSettings>
</configuration>